<section class="bg-white dark:bg-gray-900" id="learnmore">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        DBOP (DirtTW's Basement Optimize Pack) (土靈的地下室優化包)
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        以下是DBOP (DirtTW's Basement Optimize Pack) (土靈的地下室優化包)
        有的特點 :
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div>
        <img
          class="mb-5 rounded-full w-20 h-20 text-primary-600 dark:text-primary-300 max-sm:mx-auto"
          src="https://cdn.modrinth.com/data/AANobbMI/icon.png"
          alt="Sodium"
        />
        <h3 class="mb-2 text-xl font-bold dark:text-white max-sm:text-center">
          <a href="https://modrinth.com/mod/sodium">Sodium</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400 max-sm:text-center">
          基於 Sodium 模組能夠帶來麥塊巨大優化
        </p>
      </div>
      <div>
        <img
          class="mb-5 rounded-full w-20 h-20 text-primary-600 dark:text-primary-300 max-sm:mx-auto"
          src="https://cdn.modrinth.com/data/YL57xq9U/icon.png"
          alt="Iris"
        />
        <h3 class="mb-2 text-xl font-bold dark:text-white max-sm:text-center">
          <a href="https://modrinth.com/mod/iris">Iris</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400 max-sm:text-center">
          包含 Iris 光影模組 讓你的Minecraft 擁有酷炫的光影
        </p>
      </div>
      <div>
        <img
          class="mb-5 rounded-full w-20 h-20 text-primary-600 dark:text-primary-300 max-sm:mx-auto"
          src="https://raw.githubusercontent.com/yichifauzi/DBOP-Installtutorial/master/public/img/mclogo.webp"
          alt="MC logo"
        />
        <h3 class="mb-2 text-xl font-bold dark:text-white max-sm:text-center">
          原版
        </h3>
        <p class="text-gray-500 dark:text-gray-400 max-sm:text-center">
          原汁原味 無任何修改原版機制
        </p>
      </div>
      <div>
        <img
          class="mb-5 rounded-full w-20 h-20 text-primary-600 dark:text-primary-300 max-sm:mx-auto"
          src="https://cdn.modrinth.com/data/nmDcB62a/e1d2433476995be1b1a94ff1afaf6167752274ae.png"
          alt="ModernFix"
        />
        <h3 class="mb-2 text-xl font-bold dark:text-white max-sm:text-center">
          <a href="https://modrinth.com/mod/modernfix">ModernFix</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400 max-sm:text-center">
          使用 ModernFix 來讓Minecraft麥塊載入速度更快
        </p>
      </div>
      <div>
        <img
          class="mb-5 rounded-full w-20 h-20 text-primary-600 dark:text-primary-300 max-sm:mx-auto"
          src="https://cdn.modrinth.com/data/l6YH9Als/13676ddae142a85998c1c0086cafc30ce2efde80.png"
          alt="Spark"
        />
        <h3 class="mb-2 text-xl font-bold dark:text-white max-sm:text-center">
          <a href="https://modrinth.com/mod/spark">Spark</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400 max-sm:text-center">
          Spark 模組 方便檢查什麼東西造成卡頓
        </p>
      </div>
      <div>
        <img
          class="mb-5 rounded-full w-20 h-20 text-primary-600 dark:text-primary-300 max-sm:mx-auto"
          src="https://cdn.modrinth.com/data/k2ZPuTBm/e52106eb09f22cd90998a1aa0c9a34fb8baec383.jpeg"
          alt="Essential"
        />
        <h3 class="mb-2 text-xl font-bold dark:text-white max-sm:text-center">
          <a href="https://modrinth.com/mod/essential">Essential</a>
        </h3>
        <p class="text-gray-500 dark:text-gray-400 max-sm:text-center">
          Essential模組 增加許多好用的功能以及跟好友連線的多人體驗
          跟許多不錯的時裝 (只有相同 Essential模組的好友能看到時裝)
        </p>
      </div>
      <div>
        <img
          class="mb-5 rounded-full w-20 h-20 text-primary-600 dark:text-primary-300 max-sm:mx-auto"
          src="https://raw.githubusercontent.com/yichifauzi/DBOP-Installtutorial/master/public/img/logo.webp"
          alt=""
        />
        <h3 class="mb-2 text-xl font-bold dark:text-white max-sm:text-center">
          以及更多模組!!!
        </h3>
        <p class="text-gray-500 dark:text-gray-400 max-sm:text-center">
          何不安裝下來看看呢?
        </p>
      </div>
    </div>
  </div>
</section>
