<nav
  class="fixed px-4 top-0 z-50 w-full bg-white border-zinc-200 dark:bg-zinc-900"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="/DBOP-Installtutorial"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="https://raw.githubusercontent.com/yichifauzi/DBOP-Installtutorial/5c9ecdb2a4f8024edd2860527e92ffd13a49413a/public/favicon.svg"
        class="h-8"
        alt="DBOP Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        ><b>dirtTW 土靈</b></span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-zinc-500 rounded-lg md:hidden hover:bg-zinc-100 focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:focus:ring-zinc-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only"></span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-zinc-100 rounded-lg bg-zinc-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-zinc-800 md:dark:bg-zinc-900 dark:border-zinc-700 md:"
      >
        <li>
          <a
            href="/DBOP-Installtutorial"
            class="block py-2 px-3 text-zinc-900 rounded hover:bg-zinc-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent"
            ><b>首頁</b></a
          >
        </li>
        <li>
          <a
            href="/DBOP-Installtutorial/dbop-install-tutorial/"
            class="block py-2 px-3 text-zinc-900 rounded hover:bg-zinc-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent"
            ><b>DBOP 模組包安裝教學</b></a
          >
        </li>
        <li>
          <a
            href="/DBOP-Installtutorial/recommended-modpacks"
            class="block py-2 px-3 text-zinc-900 rounded hover:bg-zinc-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent"
            ><b>模組包推薦</b></a
          >
        </li>
        <li>
          <a
            href="/DBOP-Installtutorial/minecraft-useful-website"
            class="block py-2 px-3 text-zinc-900 rounded hover:bg-zinc-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent"
            ><b>Minecraft 實用網站</b></a
          >
        </li>
        <li>
          <a
            href="/DBOP-Installtutorial/useful-website"
            class="block py-2 px-3 text-zinc-900 rounded hover:bg-zinc-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent"
            ><b>軟體實用網站</b></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
