---
interface Props {
  link: string;
  altText: string;
}
const { altText, link } = Astro.props;
---

<a
  class="relative flex items-center justify-center text-zinc-900 hover:text-white border border-zinc-800 hover:bg-zinc-900 focus:ring-4 focus:outline-none focus:ring-zinc-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:border-zinc-600 dark:text-zinc-400 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-zinc-800"
  href={link}
  target="_blank"
>
  <span class="p-1">
    {altText}
  </span>
</a>
