---
import Card from "../components/Card.astro";
---

<main>
  <div class="p-4">
    <div
      class="p-4 border-2 border-zinc-200 rounded-lg dark:border-zinc-700 mt-14"
    >
      <div class="flex">
        <div class="mb-13 grow">
          <Card
            modrinthId="olssWAmw"
            name="DBOP (DirtTW's Basement Optimize Pack) (土靈的地下室優化包)"
            altText="DBOP 是一個優化模組包 大部分模組都是用戶端並且能夠優化 Minecraft 麥塊效能。"
            modrinthlink="https://modrinth.com/modpack/dbop"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/dbop"
          />
          <Card
            modrinthId="fT7MQtrV"
            name="DUP (DirtTW's Utility Pack) (土靈的實用包)"
            altText="DUP 是一個補助類的實用模組包裡面包含藍圖模組，小地圖模組以及整理背包模組等等的。"
            modrinthlink="https://modrinth.com/modpack/dup"
            curseforgelink=""
          />
          <Card
            modrinthId="1KVo5zza"
            name="Fabulously Optimized"
            altText="使用這個簡單的模組包來提高您的圖形和效能。 1.21"
            modrinthlink="https://modrinth.com/modpack/fabulously-optimized"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/fabulously-optimized"
          />
          <Card
            modrinthId="Ohwb2cTF"
            name="TNVBP"
            altText="Minecraft 效能優化模組包丨TechNoob's Vanilla Boost Pack"
            modrinthlink="https://modrinth.com/modpack/tnvbp"
            curseforgelink=""
          />
          <Card
            modrinthId="Er2bMzL7"
            name="TNVBP Lite"
            altText="TNVBP 的輕量化版本丨Lite version of TNVBP"
            modrinthlink="https://modrinth.com/modpack/tnvbp-lite"
            curseforgelink=""
          />
          <Card
            modrinthId="BYfVnHa7"
            name="Simply Optimized"
            altText="領先的、經過深入研究的優化模組包，專注於純粹的性能。"
            modrinthlink="https://modrinth.com/modpack/sop"
            curseforgelink=""
          />
          <Card
            modrinthId=""
            modrinthlink=""
            fallbackVersion="1.19.2"
            name="All of Fabric 6 - AOF6"
            altText="All of Fabric 6 是 AOF 系列的第六作，保持了前作的許多特點, 有許多任務 以及新戰鬥系統 跟各種建築可以探索。"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-of-fabric-6"
            curseforgeId="695890"
            imageUrl="https://media.forgecdn.net/avatars/thumbnails/630/292/256/256/638029267991555056.png"
          />
          <Card
            modrinthId=""
            modrinthlink=""
            fallbackVersion="1.20.1"
            name="All of Fabric 7 - AOF7"
            altText="All of Fabric 7 是 AOF 系列的第七作，足跡與故事 探險開始!!!!"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-of-fabric-7"
            curseforgeId="899572"
            imageUrl="https://media.forgecdn.net/avatars/861/617/638269386500250203.png"
          />
          <Card
            modrinthId=""
            modrinthlink=""
            fallbackVersion="1.20.1"
            name="All the Mods 9 - ATM9"
            altText="ALL The Mods 9 - 把好玩又熱門模組何在一起的大型模組包 有挑戰任務 不錯玩！"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-the-mods-9"
            curseforgeId="715572"
            imageUrl="https://media.forgecdn.net/avatars/902/338/638350403793040080.png"
          />
          <Card
            modrinthId=""
            modrinthlink=""
            fallbackVersion="1.20.1"
            name="All the Mods 9 - To the Sky"
            altText="All the Mods 9 - To the Sky - 最新 ATM 9 空島模組包 不錯玩！"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-the-mods-9-to-the-sky"
            curseforgeId="967745"
            imageUrl="https://media.forgecdn.net/avatars/thumbnails/999/347/256/256/638518044265918139.png"
          />
          <Card
            modrinthId=""
            modrinthlink=""
            fallbackVersion="1.21.1"
            name="Craftoria"
            altText="Craftoria - 是 AOF 系列的第八作 使用 Neoforge ，全新試煉開始!!!!"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/craftoria"
            curseforgeId="1039252"
            imageUrl="https://media.forgecdn.net/avatars/thumbnails/1066/473/256/256/638600434802547442.png"
          />
        </div>
      </div>
    </div>
  </div>
</main>
