---
import Card from "../components/Card.astro";
---

<main>
  <div class="p-4">
    <div
      class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 mt-14"
    >
      <div class="flex">
        <div class="mb-13 grow">
          <Card
            name="DBOP (DirtTW's Basement Optimize Pack) (土靈的地下室優化包)"
            imagePath="https://cdn.modrinth.com/data/olssWAmw/2a3d3855b9926df7874a94a96bed3cc0ff5e1f35.png"
            altText="DBOP 是一個優化模組包 大部分模組都是用戶端並且能夠優化 Minecraft 麥塊效能。"
            modrinthlink="https://modrinth.com/modpack/dbop"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/dbop"
            version="Fabric 1.19.4 - 1.21.1"
          />
          <Card
            name="DUP (DirtTW's Utility Pack) (土靈的實用包)"
            imagePath="https://cdn.modrinth.com/data/fT7MQtrV/51c5ccae57a8062b8b6d0c5bb244373b15a8e948.png"
            altText="DUP 是一個補助類的實用模組包裡面包含藍圖模組，小地圖模組以及整理背包模組等等的。"
            modrinthlink="https://modrinth.com/modpack/dup"
            curseforgelink=""
            version="Fabric 1.20.1 - 1.21"
          />
          <Card
            name="Fabulously Optimized"
            imagePath="https://cdn.modrinth.com/data/1KVo5zza/d8152911f8fd5d7e9a8c499fe89045af81fe816e.png"
            altText="使用這個簡單的模組包來提高您的圖形和效能。 1.21"
            modrinthlink="https://modrinth.com/modpack/fabulously-optimized"
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/fabulously-optimized"
            version="Fabric 1.16.5 - 1.21.1"
          />
          <Card
            name="TNVBP"
            imagePath="https://cdn.modrinth.com/data/Ohwb2cTF/cde595ad9e8d3a6e2b483f164d79180cceec2d53.png"
            altText="Minecraft 效能優化模組包丨TechNoob's Vanilla Boost Pack"
            modrinthlink="https://modrinth.com/modpack/tnvbp"
            curseforgelink=""
            version="Fabric 1.18.2 - 1.21"
          />
          <Card
            name="TNVBP Lite"
            imagePath="https://cdn.modrinth.com/data/Er2bMzL7/a14629621f005d8b4bd7101208e1e30c87610a07.png"
            altText="TNVBP 的輕量化版本丨Lite version of TNVBP"
            modrinthlink="https://modrinth.com/modpack/tnvbp-lite"
            curseforgelink=""
            version="Fabric 1.18.2 - 1.21"
          />
          <Card
            name="Simply Optimized"
            imagePath="https://cdn.modrinth.com/data/BYfVnHa7/7f8dc20fc0edd29fd95819a6f40938be0b9cadfa.png"
            altText="領先的、經過深入研究的優化模組包，專注於純粹的性能。"
            modrinthlink="https://modrinth.com/modpack/sop"
            curseforgelink=""
            version="Fabric 1.16.5 - 1.21.1"
          />
          <Card
            name="All of Fabric 6 - AOF6"
            imagePath="https://media.forgecdn.net/avatars/630/292/638029267991555056.png"
            altText="All of Fabric 6 是 AOF 系列的第六作，保持了前作的許多特點, 有許多任務 以及新戰鬥系統 跟各種建築可以探索。"
            modrinthlink=""
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-of-fabric-6"
            version="Fabric 1.19.2"
          />
          <Card
            name="All of Fabric 7 - AOF7"
            imagePath="https://media.forgecdn.net/avatars/861/617/638269386500250203.png"
            altText="All of Fabric 7 是 AOF 系列的第七作，足跡與故事 探險開始!!!!"
            modrinthlink=""
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-of-fabric-7"
            version="Fabric 1.20.1"
          />
          <Card
            name="All the Mods 9 - ATM9"
            imagePath="https://media.forgecdn.net/avatars/902/338/638350403793040080.png"
            altText="ALL The Mods 9 - 把好玩又熱門模組何在一起的大型模組包 有挑戰任務 不錯玩！"
            modrinthlink=""
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-the-mods-9"
            version="Forge 1.20.1"
          />
          <Card
            name="All the Mods 9 - To the Sky"
            imagePath="https://media.forgecdn.net/avatars/thumbnails/999/347/256/256/638518044265918139.png"
            altText="All the Mods 9 - To the Sky - 最新 ATM 9 空島模組包 不錯玩！"
            modrinthlink=""
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/all-the-mods-9-to-the-sky"
            version="Forge 1.20.1"
          />
          <Card
            name="Craftoria"
            imagePath="https://media.forgecdn.net/avatars/thumbnails/1016/805/256/256/638542825134000355.png"
            altText="Craftoria - 是 AOF 系列的第八作 使用 Neoforge ，全新試煉開始!!!!"
            modrinthlink=""
            curseforgelink="https://www.curseforge.com/minecraft/modpacks/craftoria"
            version="NeoForge 1.21"
          />
        </div>
      </div>
    </div>
  </div>
</main>
