---
import Card from "../components/Card.astro";
---

<main>
  <div class="p-4">
    <div
      class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 mt-14"
    >
      <div class="flex">
        <div class="mb-16 grow">
          <div class="">
            <Card
              name="DBOP (DirtTW's Basement Optimize Pack) (土靈的地下室優化包)"
              imagePath="https://cdn.modrinth.com/data/olssWAmw/3a9e128f07712748b8cfed48b1be7d0cb7d1bdaa.png"
              altText="DBOP是一個基於 fabric模組平台的一個優化包 大部分模組都是客戶端並且能夠優化Minecraft麥塊"
              modrinthlink="https://modrinth.com/modpack/dbop"
              curseforgelink=""
              version="Fabric 1.19.4 - 1.20.4"
            />
          </div>
          <Card
            name="Fabulously Optimized"
            imagePath="https://cdn.modrinth.com/data/1KVo5zza/d8152911f8fd5d7e9a8c499fe89045af81fe816e.png"
            altText="使用這個簡單的模組包來提高您的圖形和效能。 1.20.4 測試版！"
            modrinthlink=""
            curseforgelink=""
            version="Fabric 1.16.5 - 1.20.4"
          />
          <Card
            name="TNVBP"
            imagePath="https://cdn.modrinth.com/data/Ohwb2cTF/cde595ad9e8d3a6e2b483f164d79180cceec2d53.png"
            altText="Minecraft效能優化模組包丨TechNoob's Vanilla Boost Pack"
            modrinthlink=""
            curseforgelink=""
            version="Fabric 1.18.2 - 1.20.1"
          />
          <Card
            name="All of Fabric 6 - AOF6"
            imagePath="https://media.forgecdn.net/avatars/630/292/638029267991555056.png"
            altText="All of Fabric 6 是 AOF 系列的第六作，保持了前作的許多特點, 有許多任務 以及新戰鬥系統 跟各種建築可以探索。"
            modrinthlink=""
            curseforgelink=""
            version="Fabric 1.19.2"
          />
          <Card
            name="All of Fabric 7 - AOF7"
            imagePath="https://media.forgecdn.net/avatars/861/617/638269386500250203.png"
            altText="All of Fabric 7 是 AOF 系列的第七作，足跡與故事 探險開始!!!!"
            modrinthlink=""
            curseforgelink=""
            version="Fabric 1.19.4 - 1.20.4"
          />
        </div>
      </div>
    </div>
  </div>
</main>
