---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="zh_TW" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="DBOP是一個基於 fabric模組平台的一個優化包 大部分模組都是客戶端的 並且能夠優化Minecraft麥塊 這是DBOP模組包安裝教學網站"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://raw.githubusercontent.com/yichifauzi/DBOP-Installtutorial/475f31d13ca57caac8b375ea3c9dc41648ca27c6/src/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preload"
      as="image"
      href="https://github.com/yichifauzi/DBOP/blob/main/DBOP%20banner.png?raw=true"
    />
    <meta content="#874c50" data-react-helmet="true" name="theme-color" />
    <meta
      content="https://raw.githubusercontent.com/yichifauzi/DBOP-Installtutorial/475f31d13ca57caac8b375ea3c9dc41648ca27c6/src/favicon.svg"
    />
  </head>
  <body class="dark:bg-gray-900">
    <slot />
  </body>
</html>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
></script>
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
