<main>
  <div class="p-4 sm:ml-64">
    <div
      class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 mt-14"
    >
      <img
        fetchpriority="high"
        src="https://github.com/yichifauzi/DBOP/blob/main/DBOP%20banner.png?raw=true"
        alt="DBOP logo.png"
        width="1100"
        class="shadow rounded mx-auto"
      />
      <div class="py-4 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            DBOP (DirtTW's Basement Optimize Pack) (土靈的地下室優化包)
          </h2>
        </div>
        <div class="flex flex-auto">
          <a
            class="text-sm text-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            href="https://modrinth.com/modpack/dbop"
            target="_blank"
            ><span>
              <i class="md-logo w-4 h-4 me-2 ms-1" aria-hidden="true"></i>
            </span> Modrinth 下載</a
          >
          <a
            class="text-sm text-center focus:outline-none text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:ring-orange-600 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"
            href="https://www.curseforge.com/minecraft/modpacks/dbop"
            target="_blank"
          >
            <span
              ><i class="cf-logo w-4 h-4 me-2 ms-1" aria-hidden="true"></i>
            </span> Curseforge 下載</a
          >
        </div>

        <h2
          class="m-6 text-xl font-extrabold text-gray-900 dark:text-white"
          id="installtutorial"
        >
          <br />
          安裝教學 :
        </h2>
        <div class="">
          <ul
            class="space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400"
          >
            <li>
              <a
                id="Prism"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-xl"
                href="https://prismlauncher.org/download/">Prism 啟動器</a
              >
              <span
                ><a
                  class="hover:underline text-xl"
                  href="#Prism"
                  target="_blank"
                  rel="noopener noreferrer">#</a
                ></span
              >
              <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                <p>
                  你需要 <a
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    href="https://github.com/adoptium/temurin17-binaries/releases/tag/jdk-17.0.10%2B7"
                    >Java 17</a
                  > 才能運行Minecraft
                </p>
                <li>按一下 '新增實例'</li>
                <li>從左側選擇 Modrinth 選項卡</li>
                <li>搜尋 'DBOP'</li>
                <li>選擇 "DirtTW's Basement Optimize Pack"</li>
                <li>按下 'OK'</li>
                <li>模組包會自動安裝。</li>
                <li>安裝後 雙擊DBOP圖案即可遊玩</li>
              </ol>
            </li>
            <br />
            <li>
              <a
                id="Curseforge"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-xl"
                href="https://www.curseforge.com/download/app#download-options"
                >Curseforge 啟動器</a
              >
              <span
                ><a
                  class="hover:underline text-xl"
                  href="#Curseforge"
                  target="_blank"
                  rel="noopener noreferrer">#</a
                ></span
              >
              <ul class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                <li>選擇 Minecraft</li>
                <li>搜尋 'DirtTW's Basement Optimize Pack'</li>
                <li>按下 '安裝' 或 'Install'</li>
                <li>
                  如果要運行模組包，請將滑鼠懸停在模組包圖示上，然後按一下
                  'Play' 或著 '開始'
                </li>
              </ul>
            </li>
            <br />
            <li>
              <a
                id="Modrinth"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-xl"
                href="https://modrinth.com/app">Modrinth 啟動器</a
              >
              <span
                ><a
                  class="hover:underline text-xl"
                  href="#Modrinth"
                  target="_blank"
                  rel="noopener noreferrer">#</a
                ></span
              >
              <ul class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                <p>需要應用程式版本 0.6.2 或更高版本</p>
                <li>按下左側的 🔍 搜尋 'DirtTW's Basement Optimize Pack'</li>
                <li>按下 ⤓ Install</li>
                <li>模組包會自動安裝。</li>
                <li>安裝後，將滑鼠懸停在「Jump back in」下所建立的實例上</li>
                <li>按下 ▶️ 按鈕來開始遊玩</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
