---
import SmallCard from "../components/Small-Card.astro";
---

<main>
  <div class="p-4">
    <div
      class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 mt-14"
    >
      <div class="flex">
        <div class="mb-13 grow">
          <SmallCard
            link="https://www.minecraft.net/zh-hant"
            altText="Minecraft 官方"
          />
          <div class="mb-16 grow">
            <SmallCard
              link="https://minecraft.wiki/"
              altText="Minecraft 官方wiki"
            />
          <SmallCard
            link="https://fabricmc.net/use"
            altText="Fabric 模組平台 官網"
          />
          <SmallCard
            link="https://quiltmc.org/en/"
            altText="Quilt 模組平台 官網"
          />
          <SmallCard
            link="https://neoforged.net/"
            altText="NeoForge 模組平台 官網"
          />
          <SmallCard
            link="https://files.minecraftforge.net/net/minecraftforge/forge/"
            altText="Forge 模組平台 官網"
          />
          <SmallCard
            link="https://modrinth.com/"
            altText="Modrinth Minecraft資源"
          />
          <SmallCard
            link="https://www.curseforge.com/minecraft"
            altText="Curseforge Minecraft資源"
          />
          <SmallCard
            link="https://flags.sh/"
            altText="flasg.sh 方便生成開服指令"
          />
          <SmallCard
            link="https://mclo.gs/"
            altText="mclo.gs 方便查看崩潰記錄"
          />
          <SmallCard
            link="https://papermc.io/"
            altText="PaperMC 開服平台 官網"
          />
          <SmallCard
            link="https://www.spigotmc.org/"
            altText="Spigot 開服平台 官網"
          />
          <SmallCard
            link="https://purpurmc.org/"
            altText="Purpur 開服平台 官網"
          />
          <SmallCard
            link="https://www.minecraft.net/zh-hant/download/server/bedrock"
            altText="Minecraft 基岩版開服官網"
          />
          <SmallCard
          link="https://www.minecraft.net/en-us/download"
          altText="Minecraft 官方原版啟動器"
        />
          <SmallCard
            link="https://prismlauncher.org/"
            altText="Prism 啟動器 好用的模組管理啟動器"
          />
          <SmallCard
            link="https://multimc.org/"
            altText="MultiMC 啟動器 模組管理啟動器"
          />
          <SmallCard
            link="https://www.curseforge.com/download/app"
            altText="Curseforge 啟動器 模組管理啟動器"
          />
          <SmallCard
            link="https://gdlauncher.com/"
            altText="GDlauncher 啟動器 模組管理啟動器"
          />
          <SmallCard
            link="https://namemc.com/"
            altText="NameMC 搜尋玩家名字以及皮膚"
          />
          <SmallCard
            link="https://www.blockbench.net/"
            altText="Blockbench 製作Minecraft 3d建模軟體"
          />
          <SmallCard
            link="https://www.mineimator.com/download"
            altText="Mine-Imator Minecraft 3d動畫軟體"
          />
          <SmallCard
            link="https://www.mineimatorforums.com/index.php?/topic/90789-mine-imator-202/"
            altText="新版 Mine-Imator Minecraft 3d動畫軟體"
          />
          <SmallCard
            link="https://optifine.net/downloads"
            altText="OptiFine 官方下載 優化麥塊 以及光影等功能"
          />
          <SmallCard
            link="https://opennbs.org/"
            altText="Open Note Block Studio 音階盒音樂編輯器"
          />
          <SmallCard
            link="https://chunker.app/"
            altText="Chunker 世界轉檔網站"
          />
          <SmallCard link="https://je2be.app/" altText="je2be 世界轉檔網站" />
          <SmallCard
            link="https://github.com/PojavLauncherTeam/PojavLauncher"
            altText="PojavLauncher 手機Java版 啟動器"
          />
          <SmallCard
            link="https://github.com/packwiz/packwiz"
            altText="Packwiz 模組包自動打包以及更新cli工具"
          />
          <SmallCard
            link="https://www.chunkbase.com/apps/seed-map"
            altText="Chunkbase 種子碼地圖"
          />
          <SmallCard
            link="https://zhconvert.org/"
            altText="繁化姬- 繁簡轉換、台灣化"
          />
          <SmallCard
            link="https://github.com/sparanoid/chinese-copywriting-guidelines"
            altText="中文文案排版指北"
          />
          <SmallCard
            link="https://zh.minecraft.wiki/w/Minecraft_Wiki:沙盒/Conversiontable/zh-tw"
            altText="Minecraft 簡繁轉換表"
          />
        </div>
      </div>
    </div>
  </div>
</main>
