---
import SmallCard from "../components/Small-Card.astro";
---

<main>
  <div class="p-4">
    <div
      class="p-4 border-2 border-zinc-200 rounded-lg dark:border-zinc-700 mt-14"
    >
      <div class="flex">
        <div class="mb-13 grow">
          <SmallCard
            link="https://massgrave.dev/"
            altText="Massgrave (Active Windows)"
          />
          <SmallCard
            link="https://cobalt.tools/"
            altText="Cobalt Tools (Video Download)"
          />
          <SmallCard
            link="https://ytdlp.online/"
            altText="ytdlp (Download Youtube Video/Music)"
          />
          <SmallCard
          link="https://spotidownloader.com/"
          altText="Spotidownloader (Download Spotify Music)"
        />
          <SmallCard
            link="https://www.reddit.com/r/GenP/wiki/index/"
            altText="GenP Wiki (Active Adobe)"
          />
          <SmallCard
          link="https://tinypng.com/"
          altText="TinyPNG (Compress Image files)"
        />
          <SmallCard
            link="https://www.yasir252.com/"
            altText="Yasir252 (Software Cracks Download)"
          />
        </div>
      </div>
    </div>
  </div>
</main>
